/* For viewports wider than 1432px */
@media (min-width: 1432px) {   
    .container {
        /* Calculate the remaining viewport width for .container by subtracting #right-widget's width */
        width: calc(100vw - (19vw - (19.55 - 15) * ((100vw - 1432px) / (1920 - 1432))));
    }

    #right-widget {
        width: calc(19vw - (19.55 - 15) * ((100vw - 1432px) / (1920 - 1432)));
    }
}

/* For viewports between 1432px and 992px */
@media (min-width: 992px) and (max-width: 1431px) {
    .container {
        /* Calculate the remaining viewport width for .container by subtracting #right-widget's fixed width */
        width: calc(100vw - 280px);
    }

    #right-widget {
        width: 280px;
    }
}

@media (max-width: 992px) {
    .navbar {
        height: 6.1vh;
    }

    .navbar-brand {
        /* Adjust styles for the brand section */
    }

    .navbar-menu-button {
        display: block; /* Show the button */
        position: relative;
        font-size: large;
        /* Add more styles for the button (size, color, etc.) */
    }
    
    .reel-work-about {
        /* Adjust the navbar navigation for mobile view */
        display: none;
        /* Other styles as needed */
    }

    .reel-work-about li {
        /* Adjust list item styles for mobile */
    }

    .contact {
        display: none;
    }

    .navbar-underline {
        width: auto;
        height: 1px;
        background-color: #000; /* Change to your desired underline color */ 
    }


    .container {
        width: 100%; /* Set width to 100% */
        padding-left: 20px; /* Add left padding */
        padding-right: 20px; /* Add right padding */
        box-sizing: border-box; /* Include padding in the width */
    }

    #right-widget {
        display: none;
    }

    /* Add any other specific mobile styles for navbar components here */
}
