@media (max-width: 992px) {
    .navbar {
        height: 6.1vh;
    }

    .navbar-brand {
        /* Adjust styles for the brand section */
    }

    .navbar-menu-button {
        display: block; /* Show the button */
        position: relative;
        font-size: large;
        /* Add more styles for the button (size, color, etc.) */
    }
    
    .reel-work-about {
        /* Adjust the navbar navigation for mobile view */
        display: none;
        /* Other styles as needed */
    }

    .reel-work-about li {
        /* Adjust list item styles for mobile */
    }

    .contact {
        display: none;
    }

    .navbar-underline {
        width: auto;
        height: 1px;
    }


    .container {
        width: 100%; /* Set width to 100% */
        padding-left: 20px; /* Add left padding */
        padding-right: 20px; /* Add right padding */
        box-sizing: border-box; /* Include padding in the width */
    }

    #right-widget {
        display: none;
    }

    /* Add any other specific mobile styles for navbar components here */
}
