* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Right Grotesk Compact';
    src: url('assets/fonts/rightgrotesk-compactblack-webfont.woff') format('woff'),
         url('assets/fonts/rightgrotesk-compactblack-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'PP neue montreal book';
    src: url('assets/fonts/pp_neue_montreal_book-webfont.woff') format('woff'),
         url('assets/fonts/pp_neue_montreal_book-webfont.woff2') format('woff2');
}

:root {
    --base-font-size: 3rem; /* Default size, you can change this value */
}

html {
    font-size: var(--base-font-size);
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Right Grotesk Compact', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

#skills-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-text {
    display: block; /* ensure it's always showing */
    line-height: 0.6; /* Reducing the line-height may decrease the space */
    margin-bottom: 0;
}

.skill {
    display: flex;
    align-items: center;
    position: relative; /* Needed for absolute positioning of pseudo-element and SVG */
    padding-left: 0.85rem; /* Provide space for the box and SVG */
}

.skill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.7rem; /* Width of the box */
    height: 0.7rem; /* Height of the box */
    background-color: #000000; /* Color of the box */
    border-radius: 20%; /* Rounded corners */
    z-index: 1;
}

.skill-icon {
    position: absolute;
    left: 0; /* Align with the box */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Above the ::before pseudo-element */
    width: 0.7rem; /* Match the width of the box */
    height: 0.7rem; /* Match the height of the box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon img {
    width: 0.5rem; /* Set the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}

.skill, .overlay-text {
    opacity: 1; /* Ensure elements are fully visible initially */
}

#full-screen-overlay {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white; /* white card */
    z-index: 10; /* Ensure it's above the main content */
    box-shadow: 0 20px 105px rgb(197, 197, 197, 0.5);
}

.container,
.container a,
.container i {
    font-family: 'PP neue montreal book', sans-serif;
}

/* Ensure that child elements do not overflow */
.container > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

/* Add this style for the navbar underline */
.navbar-underline {
width: 81.5%;
height: 1px;
background-color: #000; /* Change to your desired underline color */
margin-left: 3.42%; /* Add left margin to position the underline */
}

/* Add this style for the container div */
.container {
    width: 100%; /* Set width to 100% */
    padding-left: 3.4%; /* Add left padding */
    padding-right: 1.05%; /* Add right padding */
    box-sizing: border-box; /* Include padding in the width */
}

/* Example CSS, adjust as needed */
.container {
    padding-left: 3.42%;
    padding-right: 1.26%;
}

.navbar {
    height: 6.1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-right: 20px; /* Adjust as needed */
}

.navbar-nav li a,
.navbar-contact a {
    font-size: 0.45rem;
    /* Add any other styles for your links here */
}

.skill {
    /* Styles for skill blocks */
}

.skill-icon img {
    /* Styles for skill icons */
}

/* More styles as per your layout and design */



/*  * { border: 1px solid red !important;}  