* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill, .overlay-text {
    visibility: hidden;
}

@font-face {
    font-family: 'Right Grotesk Compact';
    src: url('assets/fonts/rightgrotesk-compactblack-webfont.woff') format('woff'),
         url('assets/fonts/rightgrotesk-compactblack-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'PP neue montreal book';
    src: url('assets/fonts/pp_neue_montreal_book-webfont.woff') format('woff'),
         url('assets/fonts/pp_neue_montreal_book-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Easy grotesk';
    src: url('assets/fonts/easy-grotesk-regular.woff') format('woff'),
         url('assets/fonts/easy-grotesk-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Supply light';
    src: url('assets/fonts/supply-light-webfont.woff') format('woff'),
         url('assets/fonts/supply-light-webfont.woff2') format('woff2');
}


:root {
    --base-font-size: 3rem; /* Default size, you can change this value */
    --color: #2b2d42; /* b66940 */
    --color-muted: #8d99ae; /* F6B8C9 */
    --color-bg: #edf2f4; /* FDFAFF */
}

::selection {
    background: var(--color); /* replace #yourColor with your chosen color code */
    color: var(--color-bg); /* Optional: This will change the text color during selection */
  }
  
  /* For Mozilla Firefox */
  ::-moz-selection {
    background: var(--color); /* replace #yourColor with your chosen color code */
    color: var(--color-bg); /* Optional: This will change the text color during selection */
  }

html {
    font-size: var(--base-font-size);
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Only show the vertical scrollbar when needed */
    font-family: 'Right Grotesk Compact', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);; /* New background color */
}

#skills-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-text {
    display: block; /* ensure it's always showing */
    line-height: 0.6; /* Reducing the line-height may decrease the space */
    margin-bottom: 0;
    color: var(--color);
}

.skill {
    display: flex;
    align-items: center;
    position: relative; /* Needed for absolute positioning of pseudo-element and SVG */
    padding-left: 0.85rem; /* Provide space for the box and SVG */
    color: var(--color);

}

.skill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.7rem; /* Width of the box */
    height: 0.7rem; /* Height of the box */
    background-color: var(--color); /* Color of the box */
    border-radius: 20%; /* Rounded corners */
    z-index: 1;
}

.skill-icon {
    position: absolute;
    left: 0; /* Align with the box */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Above the ::before pseudo-element */
    width: 0.7rem; /* Match the width of the box */
    height: 0.7rem; /* Match the height of the box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon img {
    width: 0.5rem; /* Set the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}

.skill, .overlay-text {
    opacity: 1; /* Ensure elements are fully visible initially */
}

#full-screen-overlay {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg); /* white card */
    z-index: 1000; /* Ensure it's above the main content */
    box-shadow: 0 20px 105px rgb(197, 197, 197, 0.5);
}

.container,
.container a,
.container i {
    font-family: 'Easy grotesk', sans-serif;
}

.container > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

/* Add this style for the navbar underline */
.navbar-underline {
width: 100%;
height: 1px;
background-color: var(--color-muted); /* CXhange to your desired underline color */

}

/* Add this style for the container div */
.container {
    /* background-color: greenyellow; */
    padding-left: 3.42vw; /* Add left padding */
    box-sizing: border-box; /* Include padding in the width */

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: rgba(237, 242, 244, 0.45);
}

.navbar {
    height: 6.1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-ouss-two {
    display: flex;
    align-items: center;
    color: var(--color);
    padding-right: 2.25rem;
}

.ouss-two {
    font-size: 0.35rem;
    padding-left: 0.25rem;
}

.reel-work-about {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-menu-button {
    color: var(--color);
    display: none;
}

.reel-work-about li {
    margin-right: 1rem; /* space between reel work about  */
}

.reel-work-about li a,
.contact a {
    text-decoration: none;
    color: var(--color);
    font-size: 0.35rem;
    align-items: center;
    display: flex;
    /* Add any other styles for your links here */
}

.skill {
    /* Styles for skill blocks */
}

.skill-icon img {
    /* Styles for skill icons */
}

#right-widget {
    font-family: 'Easy grotesk', sans-serif;
    font-size: 0.35rem;
    box-sizing: border-box;
    height: 20vh; /* Adjust the height as needed */
    position: fixed;
    right: 0px;
    top: 6.1vh;
    border-radius: 15px; /* Adjust for desired roundness */
    background-color: var(--color-bg);; /* Adjust background color as needed */
    /* Add any other styling as necessary */
}

.heure, .rabat{
    font-family: 'Supply light', sans-serif;
    font-size: 0.35rem;
    box-sizing: border-box;
    height: 2vh; /* Adjust the height as needed */
    position: fixed;
    color: var(--color);
    top: 1.85vh;
}

.heure{
    right: 210px;
    font-size: 0.35rem;

}

.rabat{
    right: 43px;
    font-size: 0.365rem;

}

.rounded-rectangle {
    margin-left: 10px;
    margin-right: 28px;
    color: var(--color);;
    border: 1px solid var(--color-muted);; /* Change as needed */
    height: 13.92vh;
    border-radius: 8px; /* Adjust for desired roundness */
    padding: 15px;
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rounded-square a {
    text-decoration: none;
    color: #000; /* Change as needed */
}

.rounded-square {
    border: 1px solid var(--color);; /* Change as needed */
    border-radius: 6px; /* Adjust for desired roundness */
    width: 36px; /* Adjust size as needed */
    height: 36px; /* Adjust size as needed */
    background-color: var(--color);;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center; /* adjust as needed */
    background-size: contain; /* or 'cover' depending on how you want it to fit */

    position: relative; /* Add this if not already present */
    cursor: pointer; /* Changes the cursor on hover */
}

.content {
    position: relative;
    display: flex; /* This turns on flexbox */
    align-items: center; /* This will vertically center items in the container */
    bottom: 0px;
}

.start-text {
    position: relative; /* This makes it the reference for its absolutely positioned children */
    display: inline-block; /* Allows the container to fit the width of the content */
    margin-left: 10px; /* Your existing spacing */
    font-size: 0.325rem; /* Your existing font size */
}

.paragraph {
    margin-top: 6.1vh;
}

.paragraph > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.o2-paragraph > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.demo-reel > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.paragraph , .o2-paragraph, .demo-reel{
    /* background-color: greenyellow; */
    color: var(--color);
    padding-left: 3.42vw;
    padding-top: 5.5vh;
    box-sizing: border-box; /* Include padding in the width */
}



.paragraph {
font-family: "Easy grotesk", sans-serif;
font-size: 1.25rem; /* *1.12 */
line-height: 1.4rem;
}

.o2-paragraph {
    font-family: "Right Grotesk Compact", sans-serif;
    font-size: 9.5rem; 
    line-height: 7.6rem;
    margin: 0; /* Center the div and ensure no vertical margins */
    text-align: left; /* If you want to center the text */
    max-width: 100%; /* Prevent horizontal overflow */
    overflow: hidden; /* Hide any overflow */
}

.trailer {
    position: absolute;
    right: 0;
    top: calc(0% + 10vh);
    width: 15.4rem; /* Example: 50% of parent container or adjust as needed */
    height: 19.25rem;
    background-color: black;
    overflow: hidden; /* To handle content overflow */
  }
  
.demo-reel {
    height: 1080px;
    background-color: var(--color-bg);
}

.demo-reel video {
    box-shadow: 0 10px 15px rgb(197, 197, 197, 0.75);
    overflow: visible;
}

.start-text .underline {
    display: block;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: var(--color); /* Color of the underline */
    transition: width 0.3s ease-out; /* Smooth transition for the underline */
    position: absolute;
    bottom: -5px; /* Adjust as needed */
    left: 0;
}

/* Existing styles in mediaqueries.css remain unchanged */


/* Debugging border, remove or comment out for production */
/* * { border: 1px solid red !important; } */