* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skill, .overlay-text {
    visibility: hidden;
}

@font-face {
    font-family: 'Right Grotesk Compact';
    src: url('assets/fonts/rightgrotesk-compactblack-webfont.woff') format('woff'),
         url('assets/fonts/rightgrotesk-compactblack-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Supply light';
    src: url('assets/fonts/supply-light-webfont.woff') format('woff'),
         url('assets/fonts/supply-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Public sans light';
    src: url('assets/fonts/PublicSans-Light.woff') format('woff'),
         url('assets/fonts/PublicSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Public sans medium';
    src: url('assets/fonts/PublicSans-Medium.woff') format('woff'),
         url('assets/fonts/PublicSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Public sans semi bold';
    src: url('assets/fonts/PublicSans-SemiBold.woff') format('woff'),
         url('assets/fonts/PublicSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Public sans bold';
    src: url('assets/fonts/PublicSans-Bold.woff') format('woff'),
         url('assets/fonts/PublicSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter bold';
    src: url('assets/fonts/InterTight-Bold.woff') format('woff'),
         url('assets/fonts/InterTight-Bold.woff2') format('woff2');
}

:root {
    --base-font-size: 3rem; /* Default size, you can change this value */
    --color: #000000; /* b66940 */
    --color-muted: #afafaf; /* F6B8C9 */
    --color-bg: #FFFFFF; /* FDFAFF */

    --o2-parag-fonts: 14vh;
    --parag-fonts: calc(var(--o2-parag-fonts) / 3.5);
    --button-fonts: calc(var(--parag-fonts) / 1.618);

}

::selection {
    background: var(--color); /* replace #yourColor with your chosen color code */
    color: var(--color-bg); /* Optional: This will change the text color during selection */
  }
  
  /* For Mozilla Firefox */
  ::-moz-selection {
    background: var(--color); /* replace #yourColor with your chosen color code */
    color: var(--color-bg); /* Optional: This will change the text color during selection */
  }

html {
    font-size: var(--base-font-size);
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Only show the vertical scrollbar when needed */
    font-family: 'Right Grotesk Compact', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);; /* New background color */
}

#skills-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-text {
    display: block; /* ensure it's always showing */
    line-height: 0.6; /* Reducing the line-height may decrease the space */
    margin-bottom: 0;
    color: var(--color);
}

.skill {
    display: flex;
    align-items: center;
    position: relative; /* Needed for absolute positioning of pseudo-element and SVG */
    padding-left: 0.85rem; /* Provide space for the box and SVG */
    color: var(--color);

}

.skill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.7rem; /* Width of the box */
    height: 0.7rem; /* Height of the box */
    background-color: var(--color); /* Color of the box */
    border-radius: 20%; /* Rounded corners */
    z-index: 1;
}

.skill-icon {
    position: absolute;
    left: 0; /* Align with the box */
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Above the ::before pseudo-element */
    width: 0.7rem; /* Match the width of the box */
    height: 0.7rem; /* Match the height of the box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-icon img {
    width: 0.5rem; /* Set the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}

.skill, .overlay-text {
    opacity: 1; /* Ensure elements are fully visible initially */
}

#full-screen-overlay {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg); /* white card */
    z-index: 1000; /* Ensure it's above the main content */
    box-shadow: 0 20px 105px rgb(241, 250, 238, 0.5);
}

.container > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: hidden;
    box-sizing: border-box; /* Include padding and borders in width */
}

.navbar-underline {
width: 100%;
height: 1px;
background-color: rgb(197, 197, 197, 0); /* CXhange to your desired underline color */

}

/* Add this style for the container div */
.container {
    /* background-color: greenyellow; */
    padding-left: 3.42vw; /* Add left padding */
    box-sizing: border-box; /* Include padding in the width */

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background: rgb(255, 255, 255, 0.5);
}

.navbar {
    height: 6.1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-ouss-two {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color);
}

.ouss-two {
    font-family: "Public sans light";
    font-size: 0.4rem;
}

.reel-work-about {
    font-family: "Public sans light", 'sans serif';
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-menu-button {
    color: var(--color);
    display: none;
}

.reel-work-about li {
    margin-right: 1rem; /* space between reel work about  */
}

.reel-work-about li a,
.contact a {
    text-decoration: none;
    color: var(--color);
    font-size: 0.4rem;
    align-items: center;
    display: flex;
    /* Add any other styles for your links here */
}

.heure, .rabat{
    font-family: 'Supply light', sans-serif;
    font-size: 0.4rem;
    box-sizing: border-box;
    height: 2vh; /* Adjust the height as needed */
    position: fixed;
    color: var(--color);
    top: 1.85vh;
}

.heure{
    right: 210px;
    font-size: 0.35rem;

}

.rabat{
    right: 43px;
    font-size: 0.365rem;
}

#right-widget {
    font-family: 'Public sans light', sans-serif;
    font-size: 0.35rem;
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    top: 6.1vh;
    border-radius: 15px; /* Adjust for desired roundness */
    /* Add any other styling as necessary */
}

.rounded-rectangle-contact {
    margin-left: 10px;
    margin-right: 28px;
    color: var(--color);;
    border: 1px solid var(--color-muted);; /* Change as needed */
    height: 13.92vh;
    border-radius: 8px; /* Adjust for desired roundness */
    padding: 15px;
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rounded-square a {
    text-decoration: none;
    color: #000; /* Change as needed */
}

.rounded-square {
    border: 1px solid var(--color);; /* Change as needed */
    border-radius: 6px; /* Adjust for desired roundness */
    width: 36px; /* Adjust size as needed */
    height: 36px; /* Adjust size as needed */
    background-color: var(--color);;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center; /* adjust as needed */
    background-size: contain; /* or 'cover' depending on how you want it to fit */
    position: relative; /* Add this if not already present */
    cursor: pointer; /* Changes the cursor on hover */
}

.rounded-rectangle-project {
    
    margin-left: 10px;
    margin-right: 28px;
    color: var(--color);;
    border: 1px solid var(--color-muted);; /* Change as needed */
    height: 7.vh;
    border-radius: 8px; /* Adjust for desired roundness */
    padding: 15px;
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    position: relative;
    display: flex; /* This turns on flexbox */
    align-items: center; /* This will vertically center items in the container */
    bottom: 0px;
}

.start-text {
    position: relative; /* This makes it the reference for its absolutely positioned children */
    display: inline-block; /* Allows the container to fit the width of the content */
    margin-left: 10px; /* Your existing spacing */
    font-size: 0.325rem; /* Your existing font size */
}

.start-text .underline {
    display: block;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: var(--color); /* Color of the underline */
    transition: width 0.15s ease-out; /* Smooth transition for the underline */
    position: absolute;
    bottom: -5px; /* Adjust as needed */
    left: 0;
}

.paragraph > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.o2-paragraph > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.paragraph , .o2-paragraph{
    /* background-color: greenyellow; */
    color: var(--color);
    padding-left: 3.42vw;
    box-sizing: border-box; /* Include padding in the width */
}

.o2-paragraph {
    padding-top: calc(5.5vh + 5.5vh);
    padding-bottom: 0.85vh;
    font-family: "Inter bold", sans-serif;
    font-size: var(--o2-parag-fonts); 
    line-height: calc(1.041 * var(--o2-parag-fonts));
    margin: 0; /* Center the div and ensure no vertical margins */
    text-align: left; /* If you want to center the text */
    max-width: 100%; /* Prevent horizontal overflow */
    overflow: hidden; /* Hide any overflow */
}

.paragraph {
    padding-top: 2vh;
    font-family: "Public sans light", sans-serif;
    font-size: var(--parag-fonts);
    line-height: calc(var(--parag-fonts) * 1.133);
}

.button-wrapper{
    padding-top: 3.5vh;
    padding-left: 3.42vw;
    font-size: var(--button-fonts);
    font-family: "Public sans light";
}

.watch-reel-button > * {
    max-width: 100%; /* Ensure children do not cause overflow */
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width */
}

.watch-reel-button {
    border: 1px solid var(--color); /* Change as needed */
    border-radius: 30px; /* Adjust for desired roundness */
    width: 210px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    background-color: #FFFFFF;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center; /* adjust as needed */
    background-size: contain; /* or 'cover' depending on how you want it to fit */
    position: relative; /* Add this if not already present */
    cursor: pointer; /* Changes the cursor on hover */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Ensure the text is centered */
    /* Remove line-height if you use flexbox */
}

.demo-reel-container{
    padding-top: 16vh;
    padding-left: 3.42vw; /* Adjust this value to add padding to the left */
    padding-right: 8vw;
}

.demo-reel {
    position: relative;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio, for 4:3 use 75% */
    height: 0;
}

.demo-reel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.work-sections {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    padding-top: 12vh;
    padding-right: 8vw;
    padding-left: 3.42vw;
    color: black;
}

.section {
    flex: 1; /* Each section takes equal space, you might want to set a min-height */
    display: flex; /* Use flexbox for the halves */
    flex-direction: row; /* Arrange halves side by side */
}

.half {
    flex: 1; /* Each half takes up equal width */
    padding: 10px; /* Add some spacing inside each half */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.half h3 {
    font-family: "Public sans medium";
    font-size: 3vh;
}

.half p{
    font-family: "Public sans light";
    font-size: 1.85vh;
}

/* Optional: adjust the height of the sections if you want them to be a specific height or more responsive */
.section {
    min-height: 200px; /* Example: Set a minimum height for each section */
}

/* Optional: specific styles for visual differentiation */
#section1-half1, #section2-half1, #section3-half1 {
    background-color: #FFFFFF;
}

#section1-half2, #section2-half2, #section3-half2 {
    background-color: #FFFFFF;
}


  /* Remove border from the bottom of the last th element */

  
  /* Add more CSS styling as needed */
  

/* Debugging border, remove or comment out for production */
/* * { border: 1px solid red !important; } */